<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/update?id={id}(id=${updatableUser.getId()})}" th:object="${updatableUser}">
    <label for="name">Login name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br/>
    <label for="surname">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <label for="age">Enter age</label>
    <input type="number" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label>Roles:
        <input  type="checkbox" name="roles"
                th:each="role : ${role_list}"
                th:text="${role.getAuthority()}"
                th:value="${role.getId()}"
                th:field="*{roles}"
        />
    </label>
    <br/>
    <input type="submit" value="Обновить данные"/>
</form>

<div th:if="${#httpServletRequest.userPrincipal != null}">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>

</body>
</html>