<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
</head>
<body>

<h1>All users</h1>
<table th:border="1">
    <tr>
        <th>Login</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>
            <a th:utext="${user.getName()}">name</a>
        </td>
        <td>
            <a th:utext="${user.getSurname()}">name</a>
        </td>
        <td>
            <a th:utext="${user.getAge()}">name</a>
        </td>
    </tr>
</table>
<a th:href="@{/admin/edit?id={id}(id=${user.getId()})}" class="button">Update profile</a>

<form th:method="DELETE" th:action="@{/admin/delete?id={id}(id=${user.getId()})}" class="button">
    <input type="submit" value="Delete">
</form>

<div th:if="${#httpServletRequest.userPrincipal != null}">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>

</body>
</html>