<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>

<h1>Admin page</h1>
<table th:border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
    <tr th:each="user : ${allUser}">
        <td>
            <a th:href="@{/admin/profile(id=${user.getId()})}" th:utext="${user.getName()}">name</a>
        </td>
        <td>
            <a th:href="@{/admin/profile(id=${user.getId()})}" th:utext="${user.getSurname()}">name</a>
        </td>
        <td>
            <a th:href="@{/admin/profile(id=${user.getId()})}" th:utext="${user.getAge()}">name</a>
        </td>
    </tr>
</table>

<div>
    <form th:action="@{/admin/create}">
        <button type="submit">Создать нового пользователя</button>
    </form>
</div>

<div th:if="${#httpServletRequest.userPrincipal != null}">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>

</body>
</html>